<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <app-alert></app-alert>
        <div class="form-group">
          <button (click)="pushAlert(0)" class="btn btn-primary">
            Show success alert
          </button>
          &nbsp;
          <button (click)="pushAlert(1)" class="btn btn-primary">
            Show error alert
          </button>
          &nbsp;
          <button (click)="pushAlert(2)" class="btn btn-primary">
            Show info alert
          </button>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
